@{
    ViewBag.Title = "Index";
}
<h2 align="center">Home Page</h2 align="center">
<br />
<hr />
<div align="center">Welcome @HttpContext.Current.User.Identity.Name</div>

<div align="center">@Html.ActionLink("Click Here ", "Create", "Carinfo1")to Fill the form.</div>
<br />
<hr />
