@model IEnumerable<WEBSITESLK.Models.CarInfo1>
@{
    ViewBag.Title = "success";
}
<h2>success</h2>
<p>
    Your Image has been uploaded!!!!!
</p>
@Html.ActionLink("Home", "Index", "Home")

@*@foreach (var item in Model)
{
    <img src="..\..\Images\+@item.VIN+.jpeg" alt="problem!!!" width="50" height="50" />
}*@
