
@{
    ViewBag.Title = "success";
}

<h2>success</h2>
<p>
    Your Image has been uploaded!!!!!
</p>

@Html.ActionLink("Home", "Index", "Home")
<img src="C:\Users\shruti.shetty\Source\Repos\ProjectSLK\WEBSITESLK\WEBSITESLK\Images\bmwx5.jpeg" alt="problem!!!"/>